{% extends "base.html" %}

{% block title %}
О компании
{% endblock %}

{% block content %}
{% load static %}
<article>
    Компания «Музей» - это современное и уникальное предприятие, которое занимается сохранением и популяризацией
    культурного наследия. Мы создаем интерактивные музеи, выставки и образовательные программы, которые помогают людям
    узнать больше о прошлом и настоящем нашей культуры.
    <ul>
        <br />
        <li>Компания «Музей» была основана в 2010 году и с тех пор мы успели создать множество проектов, которые стали
            популярными среди жителей разных городов России. Мы работаем в тесном сотрудничестве с музеями, архивами и
            другими организациями, чтобы создавать качественные и интересные проекты.</li>
        <br />
        <li>Наши музеи отличаются от традиционных тем, что они интерактивны и ориентированы на разные возрастные группы.
            Мы
            используем современные технологии, такие как виртуальная реальность и 3D-моделирование, чтобы сделать наши
            выставки более интересными и познавательными.</li>
        <br />
        <li>Также мы занимаемся разработкой образовательных программ для школ и университетов, которые помогают
            студентам
            лучше понять историю и культуру своей страны.</li>
    </ul>
    <br />
    Наша цель – сделать культурное наследие доступным и интересным для всех слоев населения, и мы уверены, что наша
    работа помогает достижению этой цели.
</article>
<br />
<img src="{% static 'img/logo.jpeg' %}" alt="Логотип" class="rounded mx-auto d-block" id="logo"
    style="max-width: 30em; max-height: 30em;" />
<article id="about">
    Компания <q lang="ru">Музей</q> была создана в 2010 году в Москве. Основатели компании были вдохновлены идеей создания
    интерактивных музеев, которые бы привлекали людей разных возрастов и интересов.
    <br />
    Первый музей компании был открыт в 2011 году в центре Москвы. Он был посвящен истории России и использовал
    интерактивные экспонаты, чтобы рассказать о разных периодах истории.
    <br />
    С тех пор компания <q lang="en">Музей</q> открыла еще несколько музеев в разных городах России, включая Санкт-Петербург, Казань и
    Екатеринбург. Каждый музей имеет свою уникальную тематику и использует современные технологии для привлечения
    посетителей.
    <br />
    В 2015 году компания начала разрабатывать образовательные программы для школ и вузов, чтобы помочь студентам изучать
    историю и культуру России. Эти программы включают в себя виртуальные экскурсии по музеям, интерактивные уроки и
    онлайн-курсы.
    <br />
    Сегодня компания «Музей» является одним из лидеров в области музейного дела в России. Она продолжает открывать новые
    музеи и разрабатывать новые образовательные программы, чтобы сделать историю и культуру более доступными и
    интересными для всех.
</article>
<br />
<video src="{% static 'video/about.mp4' %}" alt="Видео" controls autoplay loop class="rounded mx-auto d-block"
    style="max-width: 40em; max-height: 40em;"></video>
<br />
<section>
    <h3 id="certificate" class="row">Сертификат:</h3>
    <pre style="font-variant: small-caps; word-spacing: 5px; letter-spacing: 2px; word-wrap: break-word;">
Сертификат компании "Музей"

Настоящий сертификат подтверждает, что компания "Музей" является надежным и ответственным партнером, обладающим высоким профессионализмом, креативностью и инновационными подходами в своей сфере деятельности.

Компания “Музей” специализируется на предоставлении широкого спектра услуг в области организации и проведения культурных и образовательных мероприятий, создания и продвижения музейных проектов, а также разработки и реализации программ по сохранению и популяризации культурного наследия.

Мы уверены в высоком качестве предоставляемых вами услуг и готовы рекомендовать вашу компанию как надежного партнера для сотрудничества.

Дата: 01.01.2010

Генеральный директор компании "Музей": Нестеренков Сергей Николаевич
    </pre>
</section>
<div class="container">
    <h3>Отзывы:</h3>
    <table class="table table-bordered">
    {% for review in reviews %}
        <tr>
            <td>Оценка: {{review.mark}}</td>
            <td>Кратко: {{review.title}}</td>
        <tr>
            <td colspan="2">{{review.content}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}