{% extends "base.html" %}

{% block title %}
Контакты
{% endblock %}

{% block content %}
{% load static %}
<h1>
    Контакты:
</h1>
<div class="text-center">
    <img src="https://www.bsuir.by/m/12_100229_1_161143.jpg" alt="Photo">
    <br />
    <b><span>Нестеренков Сергей Николаевич</span></b>
    <br />
    <i>Директор</i>
    <br />
    <code>+375 17 293-80-13</code>
</div>
<table class="table table-bordered">
    <tr>
        <th>Должность</th>
        <th>Обязанности</th>
        <th>Требования</th>
    </tr>
    <tr>
        <td>Научный сотрудник</td>
        <td>- Разработка и реализация образовательных программ<br>- Организация и проведение экскурсий<br>- Курирование
            выставок и проектов</td>
        <td>- Высшее образование в области истории, искусствоведения или культурологии<br>- Опыт работы на аналогичной
            должности от 3-х лет<br>- Знание иностранных языков (английский, французский и т.д.)</td>
    </tr>
    <tr>
        <td>Менеджер проектов</td>
        <td>- Управление проектами в области культуры и искусства<br>- Взаимодействие с партнерами и спонсорами<br>-
            Участие в разработке стратегии развития музея</td>
        <td>- Опыт управления проектами от 5-ти лет<br>- Образование в области искусствоведения, культурологии или
            менеджмента<br>- Навыки работы с базами данных и CRM-системами</td>
    </tr>
    <tr>
        <td>Администратор музея</td>
        <td>- Организация работы с посетителями<br>- Контроль за соблюдением правил и инструкций<br>- Решение
            организационных вопросов</td>
        <td>- Образование в сфере культуры или туризма<br>- Опыт работы в музеях или культурных центрах от 2-х лет<br>
        </td>
    </tr>
</table>
{% endblock %}