{% extends "base.html" %}

{% block title %} Museum {% endblock %}

{% block content %}
<form id="birthday-form">
    <label for="birthdate">Введите вашу дату рождения:</label>
    <input type="date" id="birthdate" required>
    <input type="submit" value="Проверить возраст">
</form>
<br />
<div class="row justify-content-md-center align-items-center article-container" id="last">
    <h2 class="column col-lg-auto">Последняя статья:</h2>
    <p class="column col-lg-auto">{{ article_name }}</p>
    <a class="column col-lg-auto btn btn-primary" href="{% url 'article_detail' article_id %}">Читать далее</a>
</div>
<br />
<div class="row justify-content-md-center align-items-center">
    {% load static %}
    <div class="column col-lg-auto">
        <h3>Список компаний-партнеров:</h3>
        <ul class="list-group unicode-list">
            <li class="row list-group-item">
                <a href="https://artmuseum.by/ru" class="column">Национальный художественный музей Республики
                    Беларусь</a>
                <div class="paralax column" style="display: inline-block;">
                    <img class="bg-dark partner-icon"
                        src="https://artmuseum.by/Content/images/logos/logo-white.svg" alt="Логотип" />
                </div>
            </li>
            <li class="row list-group-item">
                <a href="https://hermitagemuseum.ru/" class="column">Государственный эрмитаж</a>
                <div class="paralax column" style="display: inline-block;">
                    <img class="partner-icon" style="max-width: 30em; max-height: 20em;"
                        src="https://www.pngkey.com/png/detail/762-7620849_hermitage-museum-logo.png" alt="Логотип" />
                </div>
            </li>
        </ul>
    </div>
    <div id="banner-container">
        <a class="ads" style="display: block;" href="#">
            <img src="{% static 'img/ads.jfif' %}" style="max-width: 200px;" alt="Advertisment" />
        </a>
        <a class="ads" style="display: none;" href="link2.html">
            <img src="{% static 'img/logo.jpeg' %}" style="max-width: 200px;" alt="Баннер 2" />
        </a>
        <a class="ads" style="display: none;" href="link3.html">
            <img src="{% static 'img/ramka.jpg' %}" style="max-width: 200px;" alt="Баннер 3" />
        </a>
    </div>
    <script src="{% static 'js/rotation.js' %}"></script>

    {% if user.is_superuser %}
    <form>
        <label for="interval">Интервал смены баннеров (в секундах):</label>
        <input type="number" id="interval" min="1" value="5" value="2">
    </form>
    {% endif %}
</div>
<form action="{% url 'submit-review' %}" method="post">
    {% csrf_token %}
    <label for="title" class="form-label">Кратко:</label>
    <input type="text" id="title" name="title" maxlength="15"><br>

    <label for="rating" class="form-label">Ваша оценка:</label>
    <select id="rating" name="rating">
        <option value="1">1 звезда</option>
        <option value="2">2 звезды</option>
        <option value="3">3 звезды</option>
        <option value="4">4 звезды</option>
        <option value="5">5 звезд</option>
    </select><br>

    <label for="review" class="form-label">Ваш отзыв:</label>
    <textarea id="review" name="review" minlength="10" pattern=".{10,}"></textarea><br>

    <button type="submit" class="btn btn-primary">Отправить отзыв</button>
</form>
{% endblock %}