*

!/.gitignore
!/README.md
!/4
!/4/1
!/4/1/tests
!/4/1/main.py
!/4/1/requirements.txt
!/4/1/Dockerfile
!/4/1/.dockerignore
!/4/2
!/4/2/1
!/4/2/1/.dockerignore
!/4/2/1/Dockerfile
!/4/2/1/main.py
!/4/2/1/requirements.txt
!/4/2/1/tests
!/4/2/1/tests/test_helpers.py
!/4/2/1/utilities
!/4/2/1/utilities/constants.py
!/4/2/1/utilities/helpers.py
!/4/2/2
!/4/2/2/main.py
!/4/2/2/requirements.txt
!/4/2/2/Dockerfile
!/4/2/2/.dockerignore
!/4/2/2/tests
!/4/2/2/entities
!/4/2/2/entities/user.py

!/4/3
!/4/3/setup.py
!/4/3/LICENSE
!/4/3/requirements.txt
!/4/3/serializer
!/4/3/serializer/__init__.py
!/4/3/serializer/__main__.py
!/4/3/serializer/constants.py
!/4/3/serializer/factory
!/4/3/serializer/factory/__init__.py
!/4/3/serializer/factory/factory.py
!/4/3/serializer/factory/parsers
!/4/3/serializer/factory/parsers/__init__.py
!/4/3/serializer/factory/parsers/constants.py
!/4/3/serializer/factory/parsers/parser.py
!/4/3/serializer/factory/parsers/json
!/4/3/serializer/factory/parsers/json/__init__.py
!/4/3/serializer/factory/parsers/json/parser.py
!/4/3/serializer/factory/parsers/xml
!/4/3/serializer/factory/parsers/xml/__init__.py
!/4/3/serializer/factory/parsers/xml/parser.py
!/4/3/serializer/serializer/
!/4/3/serializer/serializer/__init__.py
!/4/3/serializer/serializer/serializer.py
!/4/3/serializer/serializer/deserializer.py
!/4/3/tests
!/4/3/tests/constants.py
!/4/3/tests/test_serialization.py

!/.github
!/.github/workflows
!/.github/workflows/build-docker.yml
!/.github/workflows/matrix_includes.json
