*

!/.gitignore
!/README.md
!/4
!/4/1
!/4/1/tests
!/4/1/main.py
!/4/1/requirements.txt
!/4/1/Dockerfile
!/4/1/.dockerignore
!/4/2
!/4/2/1
!/4/2/1/.dockerignore
!/4/2/1/Dockerfile
!/4/2/1/main.py
!/4/2/1/requirements.txt
!/4/2/1/tests
!/4/2/1/utilities
!/4/2/1/utilities/helpers.py
!/4/2/2
!/4/2/2/main.py
!/4/2/2/requirements.txt
!/4/2/2/Dockerfile
!/4/2/2/.dockerignore
!/4/2/2/tests
!/4/2/2/entities
!/4/2/2/entities/user.py

!/.github
!/.github/workflows
!/.github/workflows/build-docker.yml
!/.github/workflows/matrix_includes.json
