*

!/.gitignore
!/README.md
!/4
!/4/1
!/4/1/tests
!/4/1/*.py
!/4/1/requirements.txt
!/4/1/Dockerfile
!/4/1/.dockerignore
!/4/2
!/4/2/1
!/4/2/1/.dockerignore
!/4/2/1/Dockerfile
!/4/2/1/*.py
!/4/2/1/requirements.txt
!/4/2/1/tests
!/4/2/1/tests/*.py
!/4/2/1/utilities
!/4/2/1/utilities/*.py
!/4/2/2
!/4/2/2/*.py
!/4/2/2/requirements.txt
!/4/2/2/Dockerfile
!/4/2/2/.dockerignore
!/4/2/2/tests
!/4/2/2/entities
!/4/2/2/entities/*.py

!/4/3
!/4/3/setup.py
!/4/3/LICENSE
!/4/3/requirements.txt
!/4/3/serializer
!/4/3/serializer/*.py
!/4/3/serializer/factory
!/4/3/serializer/factory/*.py
!/4/3/serializer/factory/parsers
!/4/3/serializer/factory/parsers/*.py
!/4/3/serializer/factory/parsers/json
!/4/3/serializer/factory/parsers/json/*.py
!/4/3/serializer/factory/parsers/xml
!/4/3/serializer/factory/parsers/xml/*.py
!/4/3/serializer/serializer/
!/4/3/serializer/serializer/*.py
!/4/3/tests
!/4/3/tests/*.py

!/4/4
!/4/4/lab4
!/4/4/lab4/*.py
!/4/4/museum_api
!/4/4/museum_api/*.py
!/4/4/museum_api/migrations
!/4/4/museum_api/migrations/*.py

!/.github
!/.github/workflows
!/.github/workflows/build-docker.yml
!/.github/workflows/matrix_includes.json
