 .header {
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
  
.heading {
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}
  
.content {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
}
  
.actions {
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
}
  
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
  
.btn {
    width: 80%;
    padding: 9px 18px;
    font-weight: 400;
    font-size: 1.1rem;
}
