* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  
ul {
  list-style: none;
}
  
.navLink {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55); 
  font-size: 18px;

  transition: color .17s ease-in-out;
}

.navLink:focus {
    color: rgba(255, 255, 255, 0.55) !important;
    text-decoration: none !important;
}

.navLink:hover,
.navLink:active {
    color: rgba(255, 255, 255, 0.90) !important;
    text-decoration: none !important;
}
  
.navbar {
  background-color: #000000;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  min-height: 70px;
}
  
.logo {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
  

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
  

@media screen and (max-width: 780px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .bar {
    background-color: #B0B0B0;
    width: 20px;
    height: 3px;
    display: block;
    margin: 5px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .hamburger.active .bar {
    background-color: #F0F0F0;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .navMenu{
    position: absolute;
    flex-direction: column;
    gap: 0;
    top: 70px;
    left: -100%;
    text-align: start;
    width: 100%;
    transition: 0.7s ease-in-out;
    background-color: #1E3849;
    padding: 10px;
  }

  .navMenu.active {
    left: 0;
  }

  .navMenu li {
    margin: 16px 0;
  }
}


